.TestForm{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -10px;
    .col-2{
      width: 50%;
      padding: 10px;
    }
  }
  .m-b-20{
    margin-bottom: 20px;
  }
  .form-content{
    width: 100%;
    padding: 32px 20px 0 20px;
    box-sizing: border-box;
    // height: 100%;
    flex: auto;
    .product-item{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .product-content{
        display: flex;
        align-items: center;
        .img{
          border: 1px solid #C9CCCF;
          box-sizing: border-box;
          border-radius: 4px;
          width: 60px;
          height: 60px;
          margin-right: 12px;
          img{
            max-width: 100%;
            max-height: 100%;
          }
        }
        .title{
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 4px;
          font-weight: 600;
        }
        .text{
          font-size: 14px;
          line-height: 20px;
        }
        
      }
    }
  }
  .form-footer{
    // min-height: 78px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 1px 0px #E4E5E7;
  }
}