.Photos{
  margin-bottom: 20px;
  .photo-items{
    display: flex;
    flex-wrap: wrap;
    .photo-item + .photo-item{
      margin-left: 8px;
    }
    .photo-item{
      width: 80px;
      height: 80px;
      position: relative;
      border: 1px solid #C9CCCF;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      .close{
        position: absolute;
        cursor: pointer;
        top: 2px;
        right: 2px;
        svg{
          fill: #8C9196;
        }
      }
    }
  }
}