.TabMenu {
  // background: #141414;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 20px;
  border-bottom: 1px solid rgb(223, 227, 232);
  .links{
    display: flex;
    .link{
      padding: 15px 10px;
      margin: 0 16px;
      color: rgb(99, 115, 129);
      border-bottom: .3rem solid rgba(0,0,0,0);
      svg{
        fill: rgb(99, 115, 129);
      }
      cursor: pointer;
      &.active{
        color:rgb(33, 43, 54);
        // font-weight: bold;
        border-bottom: .3rem solid #008060
      }
      &:hover{
        color:rgb(33, 43, 54);
        border-bottom: .3rem solid #008060;
      }
    }
    .link + .link{
      // margin-left: 40px;
    }
  }
  .actions{
    display: flex;
    .link{
      // padding: 15px 10px;
      margin: 0 16px;
      color: rgb(99, 115, 129);
      border-bottom: .3rem solid rgba(0,0,0,0);
      svg{
        fill: rgb(99, 115, 129);
      }
      
      cursor: pointer;
      &.active{
        color: rgb(33, 43, 54);
        // font-weight: bold;
        svg{
          fill: rgb(33, 43, 54);
        }
        border-bottom: .3rem solid rgba(0,0,0,0);
      }
      &:hover{
        svg{
          fill:rgb(33, 43, 54);
        }
        color: rgb(33, 43, 54);
        border-bottom: .3rem solid rgba(0,0,0,0);
      }
    }
    .link + .link{
      margin-left: 20px;
    }
  }
}